/example-minigame.iml
/library.iml
/MinigameAPI.iml
/api.iml
/api/target/
/library/javadocs/
/.idea/
/api/api.iml
/commands/target/
/commands.iml
/sql-databases-support/target/
/sql-databases-support/sql-databases-support.iml
/commands/commands.iml
/mongodb-support.iml
/mongodb-support/target/
