/example-minigame.iml
/library.iml
/MinigameAPI.iml
/api.iml
/addons-api.iml
/library-lite/target/
/api/target/
/addons-api/target/
/library/javadocs/
/.idea/
/library-lite/library-lite.iml
/api/api.iml
/addons-api/addons-api.iml
/commands/target/
/commands.iml
/sql-databases-support/target/
